**Problem**

Implement Gradient Descent for a linear regression problem from scratch in python.

The loss function to be used for linear regression is - L2 Loss

Cost function - Mean Squared Error (MSE)


$$\frac{1}{2m} \sum(f(x) - y_{predicted})^2$$

$$f(x) = \vec{w}.\vec{x} + b$$

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("areas.csv")
df.head()

   area         prices
0  1000  316404.109589
1  1500  384297.945205
2  2300  492928.082192
3  3540  661304.794521
4  4120  740061.643836

In [6]:
X = df["area"]
X

0     1000
1     1500
2     2300
3     3540
4     4120
5     4560
6     5490
7     3460
8     4750
9     2300
10    9000
11    8600
12    7100
Name: area, dtype: int64